$blue: #0674ec;
$white: #ffffff;
$grey: #555555;
$grey-light: #333333;
$black: #000000;
$red: #f8082a;
$violet: #7347c1;
$border-hover:  #898f96;
$figure-yellow: #feb71d;
$figure-green: #77de51;
$figure-blue:  #58c9e9;
$figure-rose:  #ff6a6d;
$bg-section: #eff1f5;
$bg-footer: #262b30;
$footer-link: #ababab;
$menu-hover: #54667a;



