@import 'fonts';
@import 'vars';
@import 'global';


@import 'components/_header';
// start Header 


.header {

  &__inner {
    max-height: 99px;
    padding: 25px 0 25px;
  }

  &__logo {
    margin-left: 7px;
    outline: transparent;
  }

  &__seller {
    font-size: 14px;
    padding: 13px 18px 10px;
    margin-right: 48px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: inset 5px 4px 10px 5px rgba(63, 18, 185, 0.1);
    }
  }

  &__name {
    display: block;
    font-weight: 500;
    color: $grey-light;
    margin-left: 21px;
  }

  &__check {
    color: $blue;
    margin-left: 21px;
    font-size: 15px;
    line-height: 1.4;
  }

  &__foto {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 48px;
  }

  &__badge {
    color: #7e8fa1;
    font-size: 20px;

    &:hover {
      color: $blue;
    }
  }

  &__alerts {
    margin-left: 27px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }
  }

  &__figure {
    position: absolute;
    color: $white;
    border-radius: 15px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 500;
    top: -19px;
    left: 12px;


    &--rose {
      background-color: #ff6a6c;
    }

    &--green {
      background-color: #62d03b;
    }

    &--blue {
      background-color: $blue;
    }
  }

  &__top {
    height: 79px;
  }
}

.menu {

  &__link {
    color: $grey-light;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      border-bottom: 1px solid $border-hover;
    }

    &:active {
      color: $red;
    }
  }

  &__list {
    display: inline-block;
    margin-right: 28px;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }

  &__nav {
    margin: 0;
    padding: 0;
  }
}

.search {
  margin: 0;
  max-width: 360px;
  width: 100%;
  position: relative;

  &__input {
    width: 100%;
    padding: 13px 70px 13px 24px;
    border-radius: 30px;
    border: none;
    outline: transparent;
    border: 1px solid #d9dfe5;
    font-size: 15px;

    &:hover {
      border: 1px solid $border-hover;
    }

    &::placeholder {
      color: $border-hover;
      font-size: 15px;
    }
  }

  &__magnify {
    position: absolute;
    border: none;
    padding: 0;
    top: 0;
    right: 0;
    max-width: 70px;
    width: 100%;
    height: 44px;

    cursor: pointer;
    outline: transparent;
    background-image: url(../images/icons/magnifier.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    transition: color 0.3s;

    &:hover {
      box-shadow: inset 0 5px 10px 0 rgba(41, 6, 80, 0.116);
    }

    &:active {
      opacity: 0.8;
      transition: color 0.3s;
    }
  }
}

.marketplace {
  min-height: 725px;
  background: rgb(45, 81, 209);
  background: -moz-linear-gradient(left, rgba(45, 81, 209, 1) 0%, rgba(9, 47, 186, 1) 84%);
  background: -webkit-linear-gradient(left, rgba(45, 81, 209, 1) 0%, rgba(9, 47, 186, 1) 84%);
  background: linear-gradient(to right, rgba(45, 81, 209, 1) 0%, rgba(9, 47, 186, 1) 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d51d1', endColorstr='#092fba', GradientType=1);
  position: relative;

  &__inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 172px 0 243px;
  }

  &__title {
    text-align: center;
    font-size: 60px;
    color: $white;
  }

  &__word {
    display: block;
    font-weight: 700;
    margin-bottom: 35px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 45px;
  }

  &__link {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 18px 28px 16px 32px;
    font-size: 16px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $white;
      color: $blue;
      box-shadow: 5px 5px 10px 0 rgba(241, 232, 232, 0.1);
      transition: color 0.5s;
    }
  }
}

// start Form 

.form-categories {
  position: absolute;
  bottom: -66px;
  max-width: 1140px;
  width: 100%;


  &::before {
    content: " ";
    position: absolute;
    top: -26px;
    max-width: 1080px;
    width: 100%;
    background-color: $white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    opacity: 0.5;
    height: 30px;
    margin-right: 30px;
    margin-left: 30px;
  }

  &::after {
    content: " ";
    position: absolute;
    top: -13px;
    max-width: 1110px;
    width: 100%;
    background-color: $white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    opacity: 0.6;
    height: 15px;
    margin-right: 15px;
    margin-left: 15px;
  }

  &__search {
    padding: 40px 38px 40px 40px;
    border-radius: 6px;
    min-height: 135px;
    background-color: $white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  }

  &__input {
    padding: 18px 27px 17px;
    max-width: 612px;
    width: 100%;
    outline: transparent;
    border: 1px solid #dcdcdc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;

    &:hover {
      border: 1px solid $border-hover;
    }
  }

  &__select {
    width: 195px;
    margin-left: -4px;
    padding: 18px 20px 17px 20px;
    outline: transparent;
    border: 1px solid #dcdcdc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    appearance: none;
    color: $grey;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 160px;


    &:hover {
      border: 1px solid $border-hover;
    }
  }

  &__btn {
    padding: 19px 69px 18px 68px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: transparent;
    margin-left: 24px;

    &:hover {
      box-shadow: 5px 5px rgba(84, 67, 146, 0.1);
      color: $grey;
    }

    &:active {
      background-color: rgb(33, 18, 165);
      transition: all .3s;
    }
  }
}

// start About 

.about {

  &__inner {
    justify-content: space-between;
    padding: 185px 0 120px;
  }

  &__info {
    max-width: 360px;
    max-height: 405px;
    text-align: center;
    padding: 43px 30px 50px;

    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &__img {
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    margin-bottom: 28px;
  }

  &__title {
    color: $black;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    color: $grey;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 30px;
  }
}

// start Featured 

.featured {
  background-color: #eff1f5;
  padding: 120px 0;

  &__inner {
    margin-top: 50px;
  }

  .featured-card {
    display: flex !important;
    max-width: 1140px;
    min-height: 450px;

    &__img {
      max-width: 555px;
      width: 100%;
      max-height: 450px;
      display: block;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &__resume {
      max-width: 585px;
      width: 100%;
      padding: 46px 45px 25px 52px;
      background-color: $white;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 14px;
      color: $black;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &__foto {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 9px;
    }

    &__link {
      font-size: 15px;
      color: $black;
      margin-right: 20px;

      &:hover {
        color: $red;
      }
    }

    &__word {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      width: 16px;
      height: 16px;
    }

    &__wordpress {
      color: $violet;
      font-size: 15px;
      margin-left: 25px;

      &:hover {
        color: $red;
      }
    }

    &__text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-height: 1.9;
      margin: 28px 0 38px;
    }

    &__use {
      margin-bottom: 49px;
    }

    &__tag {
      padding: 5px 15px;
      color: #868c96;
      margin-right: 4px;

      &:hover {
        background-color: #86bdf7;
        color: $white;
      }
    }

    &__price-box {
      border-top: 1px solid #ececec;
      align-items: center;
    }

    &__price {
      padding-top: 28px;
    }

    &__cost {
      font-size: 15px;
      font-weight: 500;
      padding: 5px 16px 8px 18px;
      margin-right: 10px;
    }

    &__btn {
      border: none;
      font-size: 15px;
      outline: transparent;
      background-color: transparent;
      cursor: pointer;
      color: $grey;
    }

    &__heart {
      color: $violet;
      padding-right: 10px;

      &:hover {
        color: $red;
      }
    }

    &__cart {
      color: $blue;
      padding-right: 9px;

      &:hover {
        color: $red;
      }
    }

    &__stars {
      margin-top: 30px;
    }
  }
}


// start Products 

.new-products {
  background-color: #f6f7fb;
  padding: 120px 0 120px;

  &__inner {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 30px;
    position: relative;
  }

  &__filter {
    padding-right: 30px;
    color: #747b86;
    position: absolute;
    right: 30px;
    font-size: 16px;
    top: 48px;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    &:hover~.new-products__list {
      display: block;
      z-index: 2;
    }

    &::after {
      content: " ";
      background-image: url(../images/icons/point.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 5px;
      height: 20px;
      position: absolute;
      right: 0;
    }
  }

  &__list-item {
    list-style: none;
    padding-bottom: 14px;

    &:hover {
      color: $blue;
    }
  }

  &__list {
    display: none;
    position: absolute;
    right: 7px;
    background-color: $white;
    padding: 28px 50px 12px 30px;
    max-width: 183px;
    border-radius: 5px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

    &:hover {
      display: block;
    }

    &::before {
      content: " ";
      width: 14px;
      height: 12px;
      border-style: solid;
      border-width: 0 7px 12px 7px;
      border-color: transparent transparent #ffffff transparent;
      margin: 0;
      position: absolute;
      right: 19px;
      top: -12px;
    }
  }

  &__link-item {
    font-size: 15px;
    color: #747b86;

    &--active {
      color: $blue;
    }
  }

  &__category {
    background-color: $white;
    padding: 30px 0 32px 30px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    margin-bottom: 50px;
  }

  &__btn {
    padding: 7px 21px 7px 20px;
    margin-right: 3px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      background-color: #b4aae9;
      color: $white;
    }

    &:active {
      box-shadow: 0 2px 5px 5px rgba(88, 88, 88, 0.1);
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      color: $white;
      background-color: $blue;
    }
  }

  .product-card {
    max-width: 360px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 31px;
    position: relative;

    &__img {
      max-width: 360px;
      width: 100%;
      min-height: 230px;
      object-fit: cover;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      &:hover~.product-card__link-hover {
        display: block;
      }
    }

    &__link-hover {
      display: none;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 360px;
      width: 100%;
      height: 230px;
      top: 0;
    }

    &__info {
      position: absolute;
      top: 45%;
      left: 10%;
    }

    &__more {
      padding: 15px 30px;
      margin-right: 11px;
      font-weight: 500;

      &:last-child {
        margin-right: none;
      }
    }

    &__resume {
      padding: 22px 35px 0 28px;
    }

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 20px;
      margin-bottom: 15px;
      font-weight: 500;
      color: $black;
    }

    &__foto {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 7px;
    }

    &__link {
      font-size: 15px;
      color: $black;
      margin-right: 18px;

      &:hover {
        color: $red;
      }
    }

    &__word {
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      width: 16px;
      height: 16px;
    }

    &__wordpress {
      color: $violet;
      font-size: 15px;
      margin-left: 25px;

      &:hover {
        color: $red;
      }
    }

    &__text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-height: 1.9;
      margin: 25px 0 29px;

    }

    &__price-box {
      padding: 16px 30px 16px 30px;
      border-top: 1px solid #ececec;
    }

    &__price {
      align-items: center;
    }

    &__cost {
      font-size: 15px;
      color: $blue;
      font-weight: 500;
      padding: 6px 17px;
      background-color: #e6f1fd;
      border-radius: 30px;
      margin-right: 16px;
    }

    &__btn {
      border: none;
      outline: transparent;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      font-size: 15px;
    }

    &__heart {
      color: $violet;
      padding-right: 3px;

      &:hover {
        color: $red;
      }
    }

    &__cart {
      color: $blue;
      padding-right: 5px;

      &:hover {
        color: $red;
      }
    }

    &__stars {
      margin-left: 11px;
    }

    &__look {
      text-align: center;
      margin-top: 47px;
    }

    &__all {
      padding: 18px 32px 17px;
    }
  }
}

.followers {
  background-color: #eff1f5;
  padding: 120px 0 120px;

  &__title {
    margin-bottom: 30px;
  }

  &__box {
    max-width: 1140px;
    width: 100%;
  }

  .followers-card {
    max-width: 360px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 31px;
    position: relative;

    &__img {
      max-width: 360px;
      width: 100%;
      min-height: 230px;
      object-fit: cover;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      &:hover~.product-card__link-hover {
        display: block;
      }
    }

    &__link-hover {
      display: none;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 360px;
      width: 100%;
      height: 230px;
      top: 0;
    }

    &__info {
      position: absolute;
      top: 45%;
      left: 10%;
    }

    &__more {
      padding: 15px 30px;
      margin-right: 11px;
      font-weight: 500;

      &:last-child {
        margin-right: none;
      }
    }

    &__resume {
      padding: 22px 35px 0 28px;
    }

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 20px;
      margin-bottom: 15px;
      font-weight: 500;
      color: $black;
    }

    &__foto {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 7px;
    }

    &__link {
      font-size: 15px;
      color: $black;
      margin-right: 18px;

      &:hover {
        color: $red;
      }
    }

    &__word {
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      width: 16px;
      height: 16px;
    }

    &__wordpress {
      color: $violet;
      font-size: 15px;
      margin-left: 25px;

      &:hover {
        color: $red;
      }
    }

    &__text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-height: 1.9;
      margin: 25px 0 29px;

    }

    &__price-box {
      padding: 16px 30px 16px 30px;
      border-top: 1px solid #ececec;
    }

    &__price {
      align-items: center;
    }

    &__cost {
      font-size: 15px;
      color: $blue;
      font-weight: 500;
      padding: 6px 17px;
      background-color: #e6f1fd;
      border-radius: 30px;
      margin-right: 16px;
    }

    &__btn {
      border: none;
      outline: transparent;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      font-size: 15px;
    }

    &__heart {
      color: $violet;
      padding-right: 3px;

      &:hover {
        color: $red;
      }
    }

    &__cart {
      color: $blue;
      padding-right: 5px;

      &:hover {
        color: $red;
      }
    }

    &__stars {
      margin-left: 11px;
    }
  }
}