.footer {
  background-color: $bg-footer;

  &__inner {
    padding: 115px 0 116px;
  }

  &__column {

    &--one {
      max-width: 320px;
      width: 100%;
      margin-right: 20px;
      padding-right: 50px;
    }

    &--two {
      width: 100%;
      max-width: 225px;
      margin-right: 20px;
    }

    &--three {
      max-width: 175px;
      width: 100%;
      margin-right: 20px;
    }

    &__four {
      max-width: 365px;
    }
  }

  &__img {
    margin: 0 0 24px 0;
  }

  &__logo {
    margin: 0;
  }

  &__text {
    margin: 0 0 18px;
    line-height: 1.9;
    font-size: 15px;
    color: $footer-link;

    &--height {
      line-height: 1.65;
    }
  }

  &__navigation {
    display: inline-block;
    font-size: 15px;
    color: $footer-link;
    line-height: 1.9;
    margin-bottom: 5px;
    font-style: normal;

    &:hover {
      color: $white;
    }

    &:active {
      color: $blue;
    }
  }

  &__navi {
    font-size: 15px;
    color: $footer-link;
    line-height: 1.9;
    font-style: normal;

    &:hover {
      color: $white;
    }

    &:active {
      color: $blue;
    }
  }

  &__phone {
    margin: 0 10px 0 2px;
  }

  &__street {
    margin: 0 15px 0 2px;
  }

  &__column-title {
    letter-spacing: 1px;
    margin: 15px 0 35px;
    font-size: 18px;
    color: $white;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  &__link {
    color: $footer-link;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $white;
    }

    &:active {
      color: $blue;
    }
  }

  &__item {
    margin-bottom: 15px;
  }

  &__form {
    margin: 33px 0 61px;
    position: relative;
  }

  &__input {
    padding: 15px 120px 15px 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: transparent;
    border: 1px solid #d9dfe5;
  }

  &__btn {
    padding: 16px 30px 17px 31px;
    position: absolute;
    right: -2px;
    font-size: 15px;

    &:focus {
      background-color: #225c9c;
      box-shadow: 0 0 5px 0 $blue;
    }

    &:hover {
      background-color: #225c9c;
    }

    &:active {
      box-shadow: inset 0 0 5px 0 $blue;
    }
  }

  &__icons {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__contact {
    margin-right: 8px;
    display: inline-block;
  }

  &__icon {
    border-radius: 50%;
    padding: 13px 14px;
    color: $white;
    font-size: 16px;
    transition: color 0.5s ease-in-out;

    &--facebook {
      background-color: #395799;
      padding: 13px 16px;

      &:hover {
        box-shadow: 1px 1px 10px 1px #395799;
      }
    }

    &--twitter {
      background-color: #19b2f5;

      &:hover {
        box-shadow: 1px 1px 10px 1px #19b2f5;
      }
    }

    &--google {
      background-color: #f05b44;

      &:hover {
        box-shadow: 1px 1px 10px 1px #f05b44;
      }
    }

    &--pinterest {
      background-color: #9c0c1c;

      &:hover {
        box-shadow: 1px 1px 10px 1px #9c0c1c;
      }
    }

    &--linkedin {
      background-color: #0da6be;

      &:hover {
        box-shadow: 1px 1px 10px 1px #0da6be;
      }
    }

    &--basketball {
      background-color: #ea4c89;

      &:hover {
        box-shadow: 1px 1px 10px 1px #ea4c89;
      }
    }
  }

  &__bottom {
    background-color: #192027;
    padding: 38px 0;
    font-size: 15px;
    text-align: center;
  }

  &__bottom-text {
    color: $white;

    &:hover {
      color: $blue;
    }
  }
}