.header {
  background-color: #eef1f3;

  &__inner {
    min-height: 100px;
    position: relative;
  }

  &__seller {
    font-size: 14px;
    padding: 10px 18px 10px 17px;
    margin-right: 48px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: inset 5px 4px 10px 5px rgba(63, 18, 185, 0.1);
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__foto {

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__badge {
    color: #7e8fa1;
    font-size: 20px;

    &:hover {
      color: $blue;
    }
  }

  &__notification {

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__alerts {
    margin-left: 27px;
    position: relative;
    padding-bottom: 45px;

    &:hover+.header__envelope {
      display: block;
      position: absolute;
      top: 102px;
      right: 245px;
      z-index: 2;
      width: 370px;
      background-color: $white;
      border-top: 1px solid $blue;
      box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__figure {
    position: absolute;
    color: $white;
    border-radius: 15px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 500;
    top: -19px;
    left: 12px;


    &--rose {
      background-color: #ff6a6c;
    }

    &--green {
      background-color: #62d03b;
    }

    &--blue {
      background-color: $blue;
    }
  }

  &__top {
    min-height: 79px;
  }

  &__search {
    margin: 0;
    max-width: 360px;
    width: 100%;
    position: relative;

    @media (max-width: 576px) {
      max-width: 250px;
    }
  }

  &__input {
    width: 100%;
    padding: 13px 70px 13px 24px;
    border-radius: 30px;
    border: none;
    outline: transparent;
    border: 1px solid #d9dfe5;
    font-size: 15px;

    &:focus {
      border: 1px solid $border-hover;
    }

    &:hover {
      border: 1px solid $border-hover;
    }

    &:active {
      border: 1px solid $border-hover;
    }

    &::placeholder {
      color: $border-hover;
      font-size: 15px;
    }
  }

  &__magnify {
    position: absolute;
    border: none;
    padding: 0;
    top: 0;
    right: 0;
    max-width: 70px;
    width: 100%;
    height: 45px;
    background-image: url(../images/icons/magnifier.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    transition: color 0.3s;

    &:focus {
      background-color: rgba(blue, 0.9);
      box-shadow: 0 0 5px 0 rgba(blue, 0.8);
    }

    &:hover {
      background-color: rgba(blue, 0.8);
    }

    &:active {
      box-shadow: inset 0 0 5px 0 rgba(blue, 0.5);
    }

    @media (max-width: 576px) {
      max-width: 60px;
    }
  }

  &__menu {
    background-color: $white;
  }

  &__drop {
    margin: 0;
    list-style: none;
    z-index: 5;
  }

  &__drop-down {
    display: none;
    width: 270px;

    @media (max-width: 992px) {
      position: absolute;
      top: 84px;
      right: 0;
    }

    &:hover {
      display: block;
      position: absolute;
      top: 84px;
      right: 0;
    }

    &::before {
      content: " ";
      position: absolute;
      top: -10px;
      right: 28px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 9px 8px;
      border-color: transparent transparent #007bff transparent;
    }
  }

  &__icon-hover {
    margin-right: 15px;
  }

  &__envelope {
    display: none;

    &:hover {
      display: block;
    }

    &::before {
      content: " ";
      position: absolute;
      top: -10px;
      right: 28px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 9px 8px;
      border-color: transparent transparent #007bff transparent;
    }
  }

  &__envelope-info {
    padding: 25px 25px 20px;
    border-bottom: 1px solid #e8ebf0;
  }

  &__envelope-title {
    font-size: 18px;
    color: $black;
  }

  &__envelope-link {
    font-size: 15px;
  }

  &__foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }

  &__btn {
    display: none;
    width: 40px;
    margin-right: 20px;

    @media (max-width: 992px) {
      display: block;
    }
  }

  &__burger {
    display: block;
    height: 5px;
    margin-bottom: 6px;
    background-color: $black;
  }
}