.menu {
  position: relative;

  &__link {
    color: $grey-light;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;

    &:focus {
      color: $blue;
    }

    &:hover {
      color: $blue;
    }

    &:active {
      color: $black;
    }
  }

  &__list {
    display: inline-block;
    margin-right: 28px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover+.menu-hover {
      display: block;
      background-color: $white;
    }

    &--products {
      &:hover+.menu-hover {
        left: 75px;
      }
    }

    &--category {
      &:hover+.menu-hover {
      left: 220px;
      }
    }
  }

  &__nav {
    margin: 0;
    padding: 0;
  }
}

