.profile {
  margin-left: 48px;
  outline: transparent;
  // position: relative;
  padding: 25px 0;

  @media (max-width: 576px) {
    margin-left: 10px;
  }
  
  &:hover+.header__drop-down{
    display: block;
    position: absolute;
    top: 84px;
    right: 0;
  }

  &__client {
    margin-left: 21px;
  }

  &__name {
    margin-top: 4px;
    font-weight: 500;
    color: $grey-light;
    display: block;

    &:hover {
      color: $red;
    }
  }

  &__check {
    color: $blue;
    font-size: 15px;
    line-height: 1.4;
  }

  &__foto {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;

   @media (max-width: 576px) {
     display: none;
   }
  }
}