.featured {
  background-color: $bg-section;
  padding: 120px 0 90px;

  &__inner {
    margin-top: 50px;
  }

  &__card {
    max-width: 100%;
    display: flex !important;
  }

  &__img {
    max-width: 49%;
    min-height: 450px;
    display: block;
    border-radius: 4px 0 0 4px;
  }

  &__resume {
    width: 55%;
    padding: 46px 45px 24px 50px;
    background-color: $white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__profile {
    margin: 0;
  }

  &__foto {
    margin-right: 9px;
    width: 30px;
    height: 30px;
  }

  &__name {
    margin: 2px 15px 0 0;
  }

  &__simplebar {
    height: 110px;
    width: 480px;
  }

  &__text {
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 4;
    // -webkit-box-orient: vertical;
    margin-bottom: 33px;
  }

  &__use {
    padding-bottom: 50px;
  }

  &__tag {
    padding: 4px 14px;
    color: #868c96;
    margin-right: 4px;

    &:hover {
      background-color: #86bdf7;
      color: $white;
    }
  }

  &__price-box {
    padding: 28px 0 0;
  }

  &__cost {
    padding: 5px 16px 8px 19px;
    background-color: $blue;
    color: $white;
    margin-right: 19px;
  }

  &__stars {
    margin-top: 4px
  }

  &__heart {
    padding-right: 7px;
  }

  &__btn {
    margin-right: 14px;
  }

  &__arrow {
    background-color: $violet;

    &:focus {
      background-color: rgba(purple, 0.9);
      box-shadow: 0 0 5px 0 rgba(purple, 0.8);
    }

    &:hover {
      background-color: rgba(purple, 0.8);
    }

    &:active {
      box-shadow: inset 0 0 5px 0 rgba(purple, 0.5);
    }

    &--prev {
      border-radius: 30px 0 0 30px;
    }

    &--next {
      border-radius: 0px 30px 30px 0;
    }
  }
}

.slick-arrow {
  font-size: 14px;
  border: none;
  color: #daceee;
  padding: 15px 20px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  outline: transparent;
}
