.followers {
  background-color: #eff1f5;
  padding: 120px 0 88px;

  &__inner {
    margin-top: 52px;
  }

  &__resume {
    padding: 26px 30px 0 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__box {
    max-width: 1140px;
    width: 100%;
  }

  .followers-card {
    margin-right: 30px;
  }
}
