.info-sell {

  &__product {
    width: 100%;
    padding: 100px 190px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: bottom;

    &--blue {
      background-color: $blue;
      background-image: url(../images/bg01.png);
    }

    &--violet {
      background-color: $violet;
      background-image: url(../images/bg02.png);
    }
  }

  &__content {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 115px;
  }

  &__title {
    padding-top: 140px;
    font-size: 36px;
    color: $white;
  }

  &__text {
    color: $white;
    margin: 33px 0 50px;
    line-height: 1.9;
  }

  &__link {
    padding: 18px 25px ;

    &:hover {
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
    }

    &--sell {
      padding: 18px 40px;
    }
  }
}