.new-products {
  background-color: #f6f7fb;
  padding: 120px 0 136px;

  &__inner {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 30px;
    position: relative;
    padding: 37px 30px;
  }

  &__filter {
    padding-right: 30px;
    color: #747b86;
    position: absolute;
    right: 30px;
    font-size: 16px;
    top: 45px;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    &:hover~.new-products__list {
      display: block;
      z-index: 2;
    }

    &::after {
      content: " ";
      background-image: url(../images/icons/point.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 5px;
      height: 20px;
      position: absolute;
      right: 0;
    }
  }

  &__list-item {
    list-style: none;
    padding-bottom: 14px;

    &:hover {
      color: $blue;
    }
  }

  &__list {
    display: none;
    position: absolute;
    right: 7px;
    background-color: $white;
    padding: 28px 50px 10px 30px;
    max-width: 183px;
    border-radius: 5px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

    &:hover {
      display: block;
    }

    &::before {
      content: " ";
      width: 14px;
      height: 12px;
      border-style: solid;
      border-width: 0 7px 12px 7px;
      border-color: transparent transparent #ffffff transparent;
      margin: 0;
      position: absolute;
      right: 19px;
      top: -12px;
    }
  }

  &__link-item {
    font-size: 15px;
    color: #747b86;
  }

  &__category {
    padding: 25px 0 20px 30px;
    margin-bottom: 50px;
  }

  &__btn {
    padding: 9px 18px 7px 20px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}